body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
    position: relative;
    }

.divider {
   width: 95%;
   border-color: rgb(23, 163, 184)!important;
}

/*Navbar*/  
.navbar-nav {
   /* text-align: center;*/
    background-color: rgba(23, 163, 184, 0.041);
    font-size: 1rem;
}
  
.bg-dark, .bg-footer, .bg-col {
    background-color: rgb(23, 163, 184)!important;
}
  
.nav-item:hover {
    background-color: rgb(49, 195, 218);
}

/*Carousel*/
.banner-image {
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/*Titulos*/

.title {
    color:white
}

/*Cards*/
.card {
    background-color: rgb(23, 163, 184)!important;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

  

  